<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hvy.blog.mapper.UuidMapper">

    <select id="uuid" resultType="string" useCache="false" flushCache="true">
        SELECT HEX(FN_ORDERED_UUID());
    </select>

</mapper>